.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.feature-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid var(--accent-subtle);
    border-radius: var(--radius);
    background-color: var(--surface-default);
}

.feature-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--contrast-high);
}
